<div id="personal_info" class="focus_effect module">
  <%= hidden_field "people","id" %>

  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME *', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME *', autocomplete: :off %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <div class="selectric-labeled">
        <span><strong>Suffix</strong></span>
        <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control", autocomplete: :off %>
      </div>
    </div>
  </div>

  <div class="row row-form-wrapper no-buffer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :dob, placeholder:'DATE OF BIRTH *', required:'true', id:'dob', readonly: f.object.is_a?(Forms::EmployeeRole), class:'floatlabel form-control', onblur:'validDob(this)' %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
      <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel form-control", required: f.object.no_ssn == "1" ? false : true, :disabled => f.object.no_ssn == "1" ? true : false, readonly: f.object.is_a?(Forms::EmployeeRole) %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd top-buffer" >
      <%= f.check_box :no_ssn,  :value => false, :onclick=>"$('#person_ssn').prop('disabled', !$('#person_ssn').prop('disabled')); $('#person_ssn').prop('required', !$('#person_ssn').prop('required'))" %>
      <label for="person_no_ssn"><span class='no_ssn'>&nbsp;I don't have an SSN</span></label>
      <span><i class='fa fa-question-circle' id="no_ssn_tooltip" data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.no_ssn_tooltip")%>"></i></span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd border_bottom_zero">
      <div class="radio">
        <%= f.radio_button :gender, "male", class: "required floatlabel", id: 'radio_male', required: true %>
        <label for="radio_male"><span>MALE</span></label>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6 form-group form-group-lg no-pd">
      <div class="radio">
        <%= f.radio_button :gender, "female", class: "required floatlabel", id: 'radio_female', required: true %>
        <label  class="female" for="radio_female"><span>FEMALE</span></label>
      </div>
    </div>
    <span>
      <i id="gender-tooltip" class='fa fa-question-circle no-pd pull-right'  data-toggle="tooltip" title="<%=l10n("insured.consumer_roles.search.gender_tooltip")%>"></i>
    </span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if ($('#person_no_ssn').prop('checked')) {
      $('#person_ssn').prop('disabled', true);
    }
    Freebies.floatlabels();
    initDatepicker('dob',new Date('<%= Date.today.beginning_of_month-100.years %>'),new Date('<%= Date.today.beginning_of_month %>'))
    var cleave = new Cleave('#inputDOB', {
      date: true,
      datePattern: ['m', 'd', 'Y']
    });
  });
  function validDob(element) {
    if (element.value && element.value.length < 10) {
      $('.memo').html("<div class='alert-plan-year alert-error'><h4><b>Invalid date format.</b> You must enter 2 numbers for the month, 2 numbers for the day, and 4 numbers for the year. Example: 05/09/1980.</h4></div>");
      element.value = ''
    }
  }
</script>
