<!DOCTYPE html>
<html>
<head>
  <title>Financial assistance</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "financial_assistance/application", media: "all" %>
  <%= javascript_include_tag "financial_assistance/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
